body {
      font-family: Helvetica, Georgia, sans-serif;
      background-color: darkslategray;
}
h1 {
      text-align: center;
      color: lightpink;
      background-color: lightseagreen;
      border: 8px double black;
}
h2{
      color: lemonchiffon;
      border-bottom: 3px dotted black;
}
section{
      background-blend-mode: soft-light;
      background-color:darkcyan;
      border: 4px solid lightseagreen;
}
#middle{
      border-bottom-width: 1px;
      border-top-width: 1px;
}
p{
      color:whitesmoke;
}
figcaption{
      color: azure;
}